# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist

# Editor
/.angular/cache
.vscode/*
!.vscode/extensions.json
.idea

# System
.DS_Store
Thumbs.db

# Environment
*.env
*.env.local

# Misc
*.log
npm-debug.log*

# Scripts (development only)
/scripts
